rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permit read & write for clinic operations (allow user role management and real-time syncing)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
